*
!lab1/
!lab1/client/
!lab1/client/Makefile
!lab1/client/src/
!lab1/client/src/**

!lab1/server/
!lab1/server/Makefile
!lab1/server/src/
!lab1/server/src/**

!lab2/
!lab2/client/
!lab2/client/Makefile
!lab2/client/src/
!lab2/client/src/**

!lab2/server/
!lab2/server/Makefile
!lab2/server/src/
!lab2/server/src/**


!lab1/java_client/pom.xml
!lab1/java_client/
!lab1/java_client/src/
!lab1/java_client/src/main/
!lab1/java_client/src/main/java/
!lab1/java_client/src/main/java/app/
!lab1/java_client/src/main/java/app/nik/
!lab1/java_client/src/main/java/app/nik/**

!lab1/java_server/pom.xml
!lab1/java_server/
!lab1/java_server/src/
!lab1/java_server/src/main/
!lab1/java_server/src/main/java/
!lab1/java_server/src/main/java/app/
!lab1/java_server/src/main/java/app/nik/
!lab1/java_server/src/main/java/app/nik/**

!lab2/java_client/pom.xml
!lab2/java_client/
!lab2/java_client/src/
!lab2/java_client/src/main/
!lab2/java_client/src/main/java/
!lab2/java_client/src/main/java/app/
!lab2/java_client/src/main/java/app/nik/
!lab2/java_client/src/main/java/app/nik/**

!lab2/java_server/pom.xml
!lab2/java_server/
!lab2/java_server/src/
!lab2/java_server/src/main/
!lab2/java_server/src/main/java/
!lab2/java_server/src/main/java/app/
!lab2/java_server/src/main/java/app/nik/
!lab2/java_server/src/main/java/app/nik/**

!.gitignore
!README.md
