*
!lab1/
!lab1/client/
!lab1/client/Makefile
!lab1/client/src/
!lab1/client/src/**

!lab1/server/
!lab1/server/Makefile
!lab1/server/src/
!lab1/server/src/**

!lab1/java_client/pom.xml
!lab1/java_client/
!lab1/java_client/src/
!lab1/java_client/src/main/
!lab1/java_client/src/main/java/
!lab1/java_client/src/main/java/app/
!lab1/java_client/src/main/java/app/nik/
!lab1/java_client/src/main/java/app/nik/**
!.gitignore
!README.md
